//覆盖quasar默认变量或是相对增加变量---sucht
$typography-font-family     =  'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei','微软雅黑',Arial,sans-serif

$h1-h6     =2.5rem 2rem 1.75rem 1.5rem 1.25rem 1rem
$f7-f15    =3rem 3.5rem 4rem 5rem 6rem 7rem 8rem 9rem 10rem


$light     = #bdbdbd
$dark      = #424242
$faded     = #777
$primary   = #1e9fff
$secondary = #019486
$accent    = #9C27B0
$positive  = #5fb878
$negative  = #ff5722
$info      = #02ced1
$warning   = #ffb800
$separator-dark-color = rgba(255, 255, 255, .48)


max(value1, value2)
  if value1 <= value2
    value2
  else
    value1
// ([a-z]+)(\d+)l(\s:\s#[a-z0-9]+)
// light-$1-$2$3
// ((\s{4}[a-z-]+-[1-5]{1}\s:\s#[a-z0-9]+,\n){5})(\s+[a-z-]+\s:\s#[a-z0-9]+,\n)
// $3$1