.btn
    position: relative
    display: inline-block
    text-decoration: none
    font-weight: normal
    line-height: 1em
    text-align: center
    white-space: nowrap
    vertical-align: middle
    cursor: pointer
    user-select: none
    border: none
    outline: 0
    color: #fff
    background-color: #26a69a
    transition: border .2s linear, color .2s linear, width .2s linear, background-color .2s linear
    padding: 0.5rem 0.5rem
    font-size: 1rem
    border-radius: 2px
    -webkit-tap-highlight-color: transparent
.btn i
    font-style: normal
.btn:hover
    opacity: .8
    color: #fff
    outline: 0
    text-decoration: none
.btn:focus, .btn.focus, .btn:active, .btn.active
    opacity: .65
    outline: 0
    color: #fff
    text-decoration: none

.btn-lg, .btn-group-lg > .btn
    padding: 0.75rem 1.5rem
    font-size: 1.25rem
    border-radius: 0.3rem

.btn-sm, .btn-group-sm > .btn
    padding: 0.25rem 0.5rem
    font-size: 0.875rem
    border-radius: 0.2rem

.btn-xs
    padding: 0.1rem 0.2rem
    font-size: 0.75rem
    border-radius: 0.1rem

.btn.disabled,
.btn:disabled
    cursor: not-allowed
    opacity: .5
    box-shadow: none
    color: #BBB
.btn.disabled *,
.btn:disabled *
    pointer-events: none
.btn.disabled:hover,
.btn:disabled:hover
    opacity: .5
    cursor: not-allowed
    color: #BBB

.btn-op.disabled,
.btn-oc.disabled,
.btn-o.disabled,
.btn-op:disabled,
.btn-oc:disabled,
.btn-o:disabled
    color: #BBB
    background-color: transparent
    border: 1px solid
    border-color: currentColor
.btn-op.disabled i,
.btn-oc.disabled i,
.btn-o.disabled i,
.btn-op:disabled i,
.btn-oc:disabled i,
.btn-o:disabled i
    color: #BBB
.btn-op.disabled:hover,
.btn-oc.disabled:hover,
.btn-o.disabled:hover,
.btn-op:disabled:hover,
.btn-oc:disabled:hover,
.btn-o:disabled:hover
    color: #BBB
    background-color: transparent
.btn-op.disabled:hover i,
.btn-oc.disabled:hover i,
.btn-o.disabled:hover i,
.btn-op:disabled:hover i,
.btn-oc:disabled:hover i,
.btn-o:disabled:hover i
    color: #BBB

.btn-z,
.btn-pz,
.btn-cz
    transition: .2s ease-out

.btn-c,
.btn-cz,
.btn-oc
    overflow: hidden
    z-index: 1
    width: 2.5rem
    height: 2.5rem
    line-height: 2.5rem
    padding: 0
    border-radius: 50%
    transition: .3s
.btn-c:before,
.btn-cz:before,
.btn-oc:before
    border-radius: 0
.btn-c.btn-lg, .btn-group-lg > .btn-c.btn,
.btn-cz.btn-lg,
.btn-group-lg > .btn-cz.btn,
.btn-oc.btn-lg,
.btn-group-lg > .btn-oc.btn
    width: 3.5rem
    height: 3.5rem
    line-height: 3.5rem
.btn-c.btn-sm, .btn-group-sm > .btn-c.btn,
.btn-cz.btn-sm,
.btn-group-sm > .btn-cz.btn,
.btn-oc.btn-sm,
.btn-group-sm > .btn-oc.btn
    width: 2rem
    height: 2rem
    line-height: 2rem
.btn-c.btn-xs,
.btn-cz.btn-xs,
.btn-oc.btn-xs
    width: 1.25rem
    height: 1.25rem
    line-height: 1.25rem

.btn-o,
.btn-op,
.btn-oc
    color: #26a69a
    background-color: transparent
    border: 1px solid
    border-color: currentColor
.btn-o:hover, .btn-o:focus, .btn-o.focus, .btn-o:active, .btn-o.active,
.btn-op:hover,
.btn-op:focus,
.btn-op.focus,
.btn-op:active,
.btn-op.active,
.btn-oc:hover,
.btn-oc:focus,
.btn-oc.focus,
.btn-oc:active,
.btn-oc.active
    background-color: currentColor
    color: #26a69a
.btn-o:hover i, .btn-o:focus i, .btn-o.focus i, .btn-o:active i, .btn-o.active i,
.btn-op:hover i,
.btn-op:focus i,
.btn-op.focus i,
.btn-op:active i,
.btn-op.active i,
.btn-oc:hover i,
.btn-oc:focus i,
.btn-oc.focus i,
.btn-oc:active i,
.btn-oc.active i
    color: #fff

.btn-p,
.btn-pz,
.btn-op
    border-radius: 100em

.fixed-action-btn
    position: fixed
    right: 23px
    bottom: 23px
    padding-top: 15px
    margin-bottom: 0
    z-index: 998
.fixed-action-btn.active ul
    visibility: visible
.fixed-action-btn.ul-btn
    padding: 0 0 0 15px
.fixed-action-btn.ul-btn ul
    text-align: right
    right: 64px
    top: 50%
    transform: translateY(-50%)
    height: 100%
    left: auto
    width: 500px
    /*width 100% only goes to width of button container */
.fixed-action-btn.ul-btn ul li
    display: inline-block
    margin: 15px 15px 0 0
.fixed-action-btn ul
    left: 0
    right: 0
    text-align: center
    position: absolute
    bottom: 64px
    margin: 0
    visibility: hidden
.fixed-action-btn ul li
    margin-bottom: 15px
.fixed-action-btn ul a.btn-c,
.fixed-action-btn ul a.btn-cz,
.fixed-action-btn ul a.btn-oc
    opacity: 0

.btn-link
    font-weight: normal
    color: #373a3c
    border-radius: 0
.btn-link, .btn-link:active, .btn-link.active, .btn-link:disabled
    background-color: transparent
    box-shadow: none
.btn-link, .btn-link:focus, .btn-link:active
    border-color: transparent
.btn-link:hover
    border-color: transparent
.btn-link:focus, .btn-link:hover
    color: #777
    text-decoration: none
    background-color: transparent
.btn-link:disabled:focus, .btn-link:disabled:hover
    color: #818a91
    text-decoration: none

.btn-t
    background-color: transparent
    color: #000
.btn-t:hover, .btn-t:focus
    color: currentColor
.btn-t.disabled
    color: #999

.btn.block + .btn.block
    margin-top: 5px

.btn-animate
    position: relative
    overflow: hidden

.btn-animate-v span
    transition: all .2s ease-out 0s

.btn-animate span
    display: block
    width: 100%
    height: 100%
    transform: translate(0, 0)

.btn-animate-v:hover span
    transform: translate(0, 200%)

.btn-animate-v span > i
    position: absolute
    top: -0.5em
    left: 50%
    display: block
    font-size: 1.5em
    transform: translate(-50%, -100%)

.btn-animate-v.btn-xs span > i
    top: -1em
    font-size: 1em

.btn-animate-v.btn-sm span > i, .btn-group-sm > .btn-animate-v.btn span > i
    top: -0.75em
    font-size: 1.2em

.btn-animate-v.btn-lg span > i, .btn-group-lg > .btn-animate-v.btn span > i
    top: -0.45em
    font-size: 1.8em

.btn-animate-h
    padding-left: 1em
    padding-right: 1em

.btn-animate-h span
    transition: transform .2s ease-out 0s

.btn-animate-h span > i
    position: absolute
    top: 50%
    left: 0
    display: block
    opacity: 0
    transition: opacity .2s ease-out 0s
    transform: translate(-1em, -50%)

.btn-animate-h:hover span
    transform: translate(10px, 0)

.btn-animate-h:hover span > i
    opacity: 1

.btn-animate-h.btn-xs:hover span
    transform: translate(8px, 0)

.btn-animate-h.btn-sm:hover span, .btn-group-sm > .btn-animate-h.btn:hover span
    transform: translate(8px, 0)

.btn-animate-h.btn-lg:hover span, .btn-group-lg > .btn-animate-h.btn:hover span
    transform: translate(14px, 0)