code,
kbd,
pre,
samp
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
  background-color: #284350
  color: #ff9c9c
  font-size: 90%

code
  padding: 0.05em 0.4em
  border-radius: 0.25rem

kbd
  padding: 0.05em 0.4em
  color: #fff
  border-radius: 0.2rem
  box-shadow: inset 0 -0.1rem 0 rgba(0, 0, 0, 0.25)
  kbd kbd
  padding: 0
  font-size: 100%
  font-weight: bold
  box-shadow: none

pre
  display: block
  margin-top: 0
  margin-bottom: 1rem
  color: #72D6BE
  padding: 0 1rem
  overflow-x: scroll

.pre-scrollable// 当代码行数超出时会出现垂直滚动条
  max-height: 350px
  overflow-y: scroll