.img-resp
  display: block
  max-width: 100%
  height: auto

.thumbnail//缩略图
  padding: 0.25rem
  background-color: #fff
  border: 0.25rem solid #ddd
  border-radius: 0.25rem
  transition: all .2s ease-in-out
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075)
  display: inline-block
  max-width: 100%
  height: auto

.figure//行内图片，后面可以接文字
  display: inline-block

.figure-img
  margin-bottom: 0.5rem
  line-height: 1

.figure-caption
  font-size: 90%
  color: #818a91

.avatar//头像
  margin-right: .25em
  display: inline-block
  width: 2em
  height: 2em
  border-radius: 50%