.no-select, input[type=range],input[type=range] + .thumb
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none !important

.selectable
  -webkit-touch-callout: default; /* iOS Safari */
  -webkit-user-select: text; /* Chrome/Safari/Opera */
  -khtml-user-select: text; /* Konqueror */
  -moz-user-select: text; /* Firefox */
  -ms-user-select: text; /* Internet Explorer/Edge */

.scroll
  overflow auto
.scroll, .scroll-x, .scroll-y
  -webkit-overflow-scrolling touch
  will-change scroll-position
.scroll-x
  overflow-x auto
.scroll-y
  overflow-y auto
.no-scroll
  overflow hidden !important

.no-pointer-events
  pointer-events none !important
.all-pointer-events
  pointer-events all !important

.cursor
  &-pointer
    cursor pointer !important
  &-not-allowed
    cursor not-allowed !important
  &-inherit
    cursor inherit !important
  &-none
    cursor none !important
