body
  min-width 100px
  min-height 100vh
  font-family $typography-font-family
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-smoothing antialiased
  line-height $body-line-height
  font-size $body-font-size

h1, h2, h3, h4, h5, h6,.h1, .h2, .h3, .h4, .h5, .h6
  margin-bottom: 0.5rem
  font-weight: 500
  line-height: 1.2

for $value,i in $h1-h6
  {'h'+(i + 1)},.{'h'+(i + 1)},.{'f'+(6 - i)}
    font-size: $value

for $value,i in $f1-f15
  .{'f'+(i + 7)}
    font-size: $value

.initialism
  font-size: 90%
  text-transform: uppercase

.nowrap
  white-space: nowrap !important

.break
    word-wrap: break-word
    word-break: normal

.breakall
  word-break: break-all

.uppercase
    text-transform uppercase

.lowercase
    text-transform lowercase

.capitalize
    text-transform capitalize

.ellipsis
  text-overflow ellipsis
  white-space nowrap
  overflow hidden
  &-2, &-3
    overflow hidden
    display -webkit-box
    -webkit-box-orient vertical
  &-2
    -webkit-line-clamp 2
  &-3
    -webkit-line-clamp 3

.indent, .indent p, .indent div
  text-indent: 2em

.text-
  &hide
    font: 0/0
    color: transparent
    text-shadow: none
    background-color: transparent
    border: 0
  //这几个类不太实用，暂时注释掉 for $heading, $value in $headings
  //   &{$heading}
  //     font-size: $value.size
  //     font-weight: $value.weight
  //     line-height: $value.line-height
  //     letter-spacing: $value.letter-spacing
  &c
    text-align center
  &l
    text-align left
  &r
    text-align right
  &j
    text-align justify
    hyphens auto
  &i
    font-style italic
  &b
    font-weight bold

  for $weight in $text-weights
    &w{$weight}
      font-weight $weight

p
  margin: 0 0 $spaces.md.y

mark,.mark
  padding: 0.2em
  background-color: #fcf8e3

small, .small
  font-size: 80%
  opacity: 0.7

big,.big
  font-size 120%
sub
  bottom -.25em
sup
  top -.5em

.no-select, input[type=range],input[type=range] + .thumb
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.line-h1
  line-height: 1rem

.line-h2
  line-height: 1.25rem

.line-h3
  line-height: 1.5rem

.line-h4
  line-height: 2rem

.line-h5
  line-height: 2.5rem

.line-h6
  line-height: 3rem

hr
  margin-top: 1rem
  margin-bottom: 1rem
  border: 0
  border-top: 1px solid rgba(0, 0, 0, 0.2)

dl.row > dd + dt
  clear: left

.clearfix::after
  content: "";
  display: table;
  clear: both