body
  min-width 100px
  min-height 100vh
  font-family $typography-font-family
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-smoothing antialiased
  line-height $body-line-height
  font-size $body-font-size

h1, h2, h3, h4, h5, h6,.h1, .h2, .h3, .h4, .h5, .h6
  margin: 0.5em 0
  font-weight: 500
  line-height: 1.2

for $value,i in $h1-h6
  {'h'+(i + 1)},.{'h'+(i + 1)},.{'f'+(6 - i)}
    font-size: $value

for $value,i in $f7-f15
  .{'f'+(i + 7)}
    font-size: $value

.initialism
  font-size: 90%
  text-transform: uppercase

.break
    word-wrap: break-word
    word-break: normal

.breakall
  word-break: break-all

.indent, .indent p, .indent div
  text-indent: 2em

.text-
  for $heading, $value in $headings
    &{$heading}
      font-size: $value.size
      font-weight: $value.weight
      line-height: $value.line-height
      letter-spacing: $value.letter-spacing
      
  &hide
    font: 0/0
    color: transparent
    text-shadow: none
    background-color: transparent
    border: 0
  
  &uppercase
    text-transform: uppercase
  &lowercase
    text-transform: lowercase
  &capitalize
    text-transform: capitalize

  &center
    text-align: center
  &left
    text-align: left
  &right
    text-align: right
  &justify
    text-align: justify
    hyphens: auto

  &italic
    font-style: italic
  &bold
    font-weight: bold

  &no-wrap
    white-space: nowrap

  &strike
    text-decoration: line-through

  for $weight, $value in $text-weights
    &weight-{$weight}
      font-weight: $value

p
  margin: 0 0 $spaces.md.y

mark,.mark
  padding: 0.2em
  background-color: #fcf8e3

small, .small
  font-size: 80%
  opacity: 0.7

big,.big
  font-size 120%
sub
  bottom -.25em
sup
  top -.5em

.line-h1
  line-height: 1rem

.line-h2
  line-height: 1.25rem

.line-h3
  line-height: 1.5rem

.line-h4
  line-height: 2rem

.line-h5
  line-height: 2.5rem

.line-h6
  line-height: 3rem

hr
  margin-top: 1rem
  margin-bottom: 1rem
  border: 0
  border-top: 1px solid rgba(0, 0, 0, 0.2)

dl.row > dd + dt
  clear: left

.clearfix::after
  content: "";
  display: table;
  clear: both

a,a * {
  text-decoration: none;
}