.block,.show
  display block
.inline-block
  display inline-block
.inline
  display: inline

.sr-only
  position: absolute
  width: 1px
  height: 1px
  padding: 0
  margin: -1px
  overflow: hidden
  clip: rect(0, 0, 0, 0)
  border: 0

.sr-only-focusable:active, .sr-only-focusable:focus
  position: static
  width: auto
  height: auto
  margin: 0
  overflow: visible
  clip: auto


$opacity=0 0.2 0.4 0.5 0.6 0.8 1

for $value,$key in $opacity
  .opacity{$key}
    opacity: $value